.active-item {
  color: red;
  font-weight: 500;
  // --background: rgb(254 226 226);
}

.selected {
  color: red;
  font-weight: 500;
  --background: rgb(254 226 226);
  border-radius: 25px;
}
ion-icon {
  color: black;
}

ion-menu {
  --width: 25%;
}
@media (min-width: 768px) {
  ion-router-outlet {
    margin-top: 63px;
  }
}
@media (max-width: 768px) {
  ion-router-outlet {
    margin-top: 56px;
  }
}
